//BACKGROUND

.container {    
    position: relative;
    max-width: 100vw;
    z-index: 1;
}

.icon {
   display: block;
   position: absolute;
   z-index: 10;

    &--top {              
        top: -50rem;
        left: -30rem;
    }

    &--bottom {
        top: 30em;
        left: 50rem;
    }
}

//CARD
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    background-color: #fff;
    border-radius: 2rem;
    width: 32.5rem;
    overflow: hidden;

    &__image {
        background-image: url(/images/bg-pattern-card.svg);
        background-size: cover;
    }

    &__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
    }

    &__photo-user {
        display: block;
        position: absolute;
        border-radius: 50%;
        border: solid 5px #fff;
        height: 11rem;
        width: 11rem;
        transform: translateY(-8rem);
        z-index: 100;        
        //padding: 0;
    }

    &__name {
        padding-top: 5rem;
    }

    &__stats {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        border-top: solid 1px $color-neutral-light;
    }

    &__boxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2.5rem;

        div {  
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            //padding: 2rem 0;
        }
    }
}






