//BACKGROUND

.container {    
    position: relative;
    width: 100%;
}

.icon {
   display: inline-block;
   position: absolute;

    &--top {              
        top: -50rem;
        left: -30rem;
    }

    &--bottom {
        top: 30em;
        left: 50rem;
    }
}



