*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #969696;
  /*
    background-image: url(../images/bg-pattern-top.svg),
                      url(../images/bg-pattern-bottom.svg);
    background-color: $color-primary-1;
    background-repeat: no-repeat;
    background-position: top -50rem left -30rem, bottom -130rem right -30rem;
    */
  background-color: #19a2ae;
  background-size: cover;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

.icon {
  position: relative;
  z-index: 10;
}

.icon__icon-top {
  position: absolute;
  display: block;
  width: 70%;
  height: auto;
  top: -50rem;
  left: -30rem;
}

.icon__icon-bottom {
  position: fixed;
  display: block;
  width: 70%;
  height: auto;
  right: -30rem;
  bottom: -50rem;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #fff;
  border-radius: 2rem;
  width: 32.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 13rem 15rem;
      grid-template-rows: 13rem 15rem;
}

.card__image {
  background-image: url(/images/bg-pattern-card.svg);
  background-size: cover;
}

.card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.card__user--photo {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: solid 5px #fff;
  height: 10.5rem;
  width: 10.5rem;
  background-color: #fff;
  -webkit-transform: translateY(-8rem);
          transform: translateY(-8rem);
  z-index: 150;
}

.card__name {
  padding-top: 5rem;
}

.card__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  border-top: solid 1px #bfbfbf;
}

.card__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.card__boxes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading-1 {
  font-size: 1.8rem;
  color: #2d3248;
  font-weight: 700;
}

.heading-1 span {
  font-weight: 400;
  color: #969696;
}

.card__place {
  font-size: 1.4rem;
}

.p-stats {
  font-size: 1.1rem;
}
/*# sourceMappingURL=main.css.map */